결정트리

- 주어진 데이터에 대한 분류
- 이상치가 많은 데이터를 다룰 때 사용하면 좋음. 결정과정이 시각적으로 표현되어 머신러닝이 어떤 식으로 의사결정 하는지 파악 가능
- 데이터를 1차 분류한 후, 각 영역의 순도(homogeneity)는 증가, 불순도(impurity)&불확실성(uncertainty)는 감소하는 방향으로 학습 진행

엔트로피
: 확률변수의 불확실성을 수치로 나타낸 것
: 값이 높을수록 불확실성이 높다 = 순도가 낮음

지니계수
: 불순도를 측정하는 지표(데이터의 통계적 분산 정도를 정량화한 값)
: 원소 n개 중 임읭로 두개를 추출했을 때, 추출된 두개가 서로 다른 그룹에 속해있을 확률

지니계수가 엔트로피보다 계산이 빨라 결정트리에서 많이 사용

In [12]:
import pandas as pd

df = pd.read_csv('./data/titanic/train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [13]:
df = df[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Survived']]
df['Sex'] = df['Sex'].map({'male':0, 'female':1}) #남자 0, 여자 1로 데이터 변환
df.isna().sum() #빈 값 확인

Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Survived      0
dtype: int64

In [14]:
df[df.Sex.isna()].head()

Empty DataFrame
Columns: [Pclass, Sex, Age, SibSp, Parch, Fare, Survived]
Index: []

In [15]:
df = df.dropna() #빈 값 제거
x = df.drop('Survived', axis=1) #Survived 컬럼을 제외한 나머지 컬럼을 input 인자로
y = df['Survived'] #Survived 컬럼을 정답데이터로 활용

In [16]:
df

     Pclass  Sex   Age  SibSp  Parch     Fare  Survived
0         3    0  22.0      1      0   7.2500         0
1         1    1  38.0      1      0  71.2833         1
2         3    1  26.0      0      0   7.9250         1
3         1    1  35.0      1      0  53.1000         1
4         3    0  35.0      0      0   8.0500         0
..      ...  ...   ...    ...    ...      ...       ...
885       3    1  39.0      0      5  29.1250         0
886       2    0  27.0      0      0  13.0000         0
887       1    1  19.0      0      0  30.0000         1
889       1    0  26.0      0      0  30.0000         1
890       3    0  32.0      0      0   7.7500         0

[714 rows x 7 columns]

In [17]:
from sklearn.model_selection import train_test_split
#random_state: random 함수의 seed 값을 고정시키기 때문에 여러번 수행하더라도 같은 레코드를 추출
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=1)

In [18]:
#모델정의
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [19]:
#train data의 x값과 정답 y 값으로 모델 학습
model.fit(x_train, y_train)

DecisionTreeClassifier()

In [20]:
#test data의 x데이터로 모델이 예측한 y값 얻음
y_predict = model.predict(x_test)

In [21]:
from sklearn.metrics import accuracy_score
#test data의 y값(정답)과 모델이 예측한 y값을 비교하여 정확도 추출
accuracy_score(y_test, y_predict)

0.8100558659217877

In [24]:
from sklearn.metrics import confusion_matrix

pd.DataFrame(confusion_matrix(y_test, y_predict),
            columns=['predicted not survival', 'predicted survival'],#예측값
            index = ['true not survival', 'true survival'])#실제값

                   predicted not survival  predicted survival
true not survival                      97                  15
true survival                          19                  48